
# <img src="../media/prometheus_logo.png" style="width:30px"> Prometheus

---
Student: Ricardo Harris

Degree: Bachelor of Science in Computer Science

Project Advisor: Dr. Sean Hayes

Expected Graduation: December 2023

---

<table>
	<thead>
		<tr>
			<th align="left">
				Table of Contents:
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1. <a href="#result">Test Results</a>
			</td>
		</tr>
	</tbody>
</table>

---
## Test Results <a id="result"></a>
| Tester ID | Problem 1 | Problem 2 | Problem 3 | Problem 4 | Problem 5 | Problem 6 | Problem 7 | Problem 8 | Problem 9 | Problem 10 | Problem 11 | Average |
|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|------------|------------|---------|
| 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 5 |

* For enhancement suggestions, please see the <a href="https://github.com/RHarris87345/CSU-Senior-Project/blob/master/tests/Prometheus%20Enhancement%20Logs.md"> Enhancement Logs</a>
