
# <img src="../media/prometheus_logo.png" style="width:30px"> Prometheus

---
Student: Ricardo Harris

Degree: Bachelor of Science in Computer Science

Project Advisor: Dr. Sean Hayes

Expected Graduation: December 2023

---

<table>
	<thead>
		<tr>
			<th align="left">
				Table of Contents:
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1. <a href="#answer">Answer Sheet</a><br />
				2. <a href="#result">Test Results</a>
			</td>
		</tr>
	</tbody>
</table>

---
## Answer Sheet <a id="answer"></a>
1. Open Firefox on the machine before you, then click on the bookmark for the Prometheus Website. How do you rate the initial appearance of the site?

	(1 - 5) __

2. Navigate to the Download page. Read the installation instructions for the Windows distribution of Prometheus. Now read the operation instructions. How prepared do you feel to install and run Prometheus after reading these instructions?

	(1 - 5) __

3. Follow the instructions as read during step 2. Download the windows distribution of Prometheus. When prompted, change the installation location to ```C:\Users\ricon\Desktop\```. Navigate to the Desktop. Open the Prometheus folder and run Prometheus. Observe that Prometheus is requesting an API Key. To receive one, transition to your browser. Please open the newsapi.org bookmark in a separate tab. Press the login button in the top right corner. Log in using the following credentials:

	Username: REHarris@csustudent.net

	Password: Password

	copy the provided api key using ctrl+'c'. Now, paste that API key in the window opened by the Prometheus application and press enter. How well did the instructions on the Prometheus website prepare you for this process?

	(1 - 5) __

4. Move the Prometheus application around your screen. Maximize it. Restore it. Minimize it. Bring it back up. Drag it to the sides of the screen to utilize Windows Snap features. How well did you find the responsiveness of the application?

	(1 - 5) __

5. Press the Settings button in the top left of the application. Note that it is shaped like a wrench. Select a country of your choice. Now click "Top Headlines" and select a topic of your choice. Lastly, input a search of your choice. How satisfied are you with your ability to find news articles that you want?

	(1 - 5) __

6. Press the Settings button again. Cycle through font sizes. Then toggle the night mode button. How satisfied are you with your ability to manipulate how you see the news?

	(1 - 5) __

7. Now that you've experienced all the settings of the Prometheus application, how satisfied are you with the button layout?

	(1 - 5) __

8. Reset the application country to "United States". Select the "Top Headlines" topic. Click on a "Read Article" button underneath a news article. Observe the layout of this experience. How satisfied are you with the presentation of the available information?

	(1 - 5) __

9. Change the timezone on your testing environment. Now press the reload button on the Prometheus application. Click on the same "Read Article" button underneath the news article from step 8. Note the change in the publication time and/or date. How satisfied are you with this feature?

	(1 - 5) __

10. Disconnect from the internet. Now press the reload button on the Prometheus application. This will produce an error message. How informative do you find the error message?

	(1 - 5) __

11. Connect to the internet. Now, choose your personal favorite text size and Day/Night mode, then close the Prometheus application. Relaunch the Prometheus application. How satisfied are you with this experience?

	(1 - 5) __

---
## Test Results <a id="result"></a>

<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The following results show that overall, the Prometheus website and application meet satisfactory conditions as outlined in the <a href="https://github.com/RicoNoSuave/CSU_Senior_Project/blob/master/tests/Prometheus%20Test%20Plan.md">Test Plan</a> documentation. All users rated all features at least "satisfied," with the majority of users rating the installation instructions, the installation process, the responsiveness of the application, the search functions, the application button layout, the article layout, the timezone feature, the error handling, and the saved state features as "extremely satisfied." Of note, half of users rated the website layout and the available viewing settings as "extremely satisfied," which is reflected in the <a href="https://github.com/RicoNoSuave/CSU_Senior_Project/blob/master/tests/Prometheus%20Enhancement%20Logs.md">Enhancement Logs</a> documentation; the majority of suggested improvements deal with these two features. Still, the results from these areas, as well as all others, exceed the scoring goal of 4.0/5.0.
</p>

| Tester ID | Problem 1 | Problem 2 | Problem 3 | Problem 4 | Problem 5 | Problem 6 | Problem 7 | Problem 8 | Problem 9 | Problem 10 | Problem 11 | Average |
|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|------------|------------|---------|
| 1 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 4.91 |
| 2 | 4 | 5 | 5 | 5 | 5 | 4 | 5 | 5 | 5 | 4 | 5 | 4.73 |
| 3 | 4 | 5 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 5 | 4.82 |
| 4 | 4 | 5 | 5 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 4 | 4.73 |
| 5 | 5 | 5 | 5 | 5 | 5 | 4 | 5 | 5 | 5 | 4 | 5 | 4.82 |
| 6 | 4 | 5 | 4 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 4.73 |
| 7 | 5 | 5 | 5 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 4.91 |
| 8 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 4.91 |
| 9 | 4 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 5 | 4 | 5 | 4.73 |
| 10 | 5 | 5 | 4 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 5 | 4.91 |
| Avg | 4.5 | 5 | 4.6 | 5 | 4.9 | 4.5 | 5 | 5 | 5 | 4.7 | 4.9 | 4.82 |

* For enhancement suggestions, please see the <a href="https://github.com/RHarris87345/CSU-Senior-Project/blob/master/tests/Prometheus%20Enhancement%20Logs.md"> Enhancement Logs</a>
